 /*---- Main Sytles----- */

/* 

colors used for Portfolio
   CASHEMERE #cbc5c1
   FRENCH BLUE #A2AAB0
   WHITE WASH #EBECED
   DENIM #4c586F
   GUNMETAL #3E3E3b
*/


 body {
   display:flex;
   flex-direction: column;
   background-color: #ebeced;
 }

ul{
   list-style: none;
} 

a{
   text-decoration: none;

}

/* HEADER */
  header{
     justify-content: center;
     text-align: center;
  } 

   .main-header {
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100vw;
   }

   .brand{
      align-items: baseline;
      margin: auto;
   }


   .main-nav{
      flex-grow: 1;
      margin: auto;
   }

      .nav {

         display: flex;
         justify-content: flex-end;


      }

      li{
         padding-left: 3em;
         padding-right: 3em;
      }



