 /*---- Main Sytles----- */

/* 

colors used for Portfolio
   CASHEMERE #cbc5c1
   FRENCH BLUE #A2AAB0
   WHITE WASH #EBECED
   DENIM #4c586F
   GUNMETAL #3E3E3b
*/




 body {
   display:flex;
   flex-direction: column;
   background-color: #f8eee7;
 }

ul{
   list-style: none;
} 

a{
   text-decoration: none;
   color: #4c586F;
}
   a:hover {
      text-decoration: none;
   }
   a:visited{
      text-decoration: none;
   }


/* HEADER */
  header{
     justify-content: center;
     text-align: center;
      color: #4c586F;
  } 

   .main-header {
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: auto;
      width: 100vw;
   }

   .brand{
      align-items: baseline;
      margin: auto;
   }


   .main-nav{
      flex-grow: 1;
      margin: auto;
   }

      .nav {

         display: flex;
         justify-content: flex-end;


      }

      li{
         padding-left: 3em;
         padding-right: 3em;
      }

/* ---- Welcome Page ---- */
      
   .launch-page{
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
      margin-top: 1em;
      width: 100vw;
   }
   

   .lp-text{
      align-self: center;
      width: 50vw;
   }

      .lp_title{
         color: #3E3E3b;
         font-size: 7em;
         margin: 0;
         letter-spacing: -.1em;
         line-height: .75em;

      }

      .lp_h3{
         margin:0;
         font-size:2em;
      }

      .lp_p {
         color: #4c586F;
         margin-top: 0;
         font-size: 1.3em;
         font-style: italic;
      }

   .lp_img{
      width: 50vw;
   }

   
      .jlu1{
         height: 80vh;
         width: 30vw;
         margin: auto;
         display: block;
         box-shadow: 20px 15px #4c586F;
      }


