 /* ---- FONT FAMILIES ---- */
 
 /* <h1> Font Didot Regular*/
    @font-face {
        font-family: "didot-regular";
        src: url("/public/Fonts/didot_regular.ttf") format('truetype');
    } 

    /* <h2>/<h3> Font Bodoni bold*/

    @font-face {
        font-family: "bodoni-bold";
        src: url("/public/Fonts/Bodoni_Bold.ttf") format('truetype');

    } 

    /* <p> Font Bondoni regular */

    @font-face {
        font-family: "bodoni-regular";
        src: url("/Fonts/Bodoni_regular.ttf") format('truetype');
    } 

    /* Footer font Didot italic*/

    @font-face {
        font-family: "didot-italic";
        src: url("/Fonts/didot_regular.ttf") format('truetype');
    } 

    /* ---- FONT STYLING ---- */

    h1{
        font: 4em "didot-regular";
    }

    h2,h3{

        font: 3em "bodoni-bold";
    }

    p,a,li {
        font: 1.1em "bodoni-regular";
    }

    footer{
       font: .75em "didot-italic";
       font-style: italic;
    }